.App {
  display: flex;
  height: 100vh;
}
.shop-sidebar h2 {
  color: white;
  text-align: center;
}
.shop-sidebar {
  display: flex;
  flex-direction: column;
  width: 200px;
  background-color: #1a1d24;
  padding: 20px;
  gap: 10px;
  overflow-y: auto;
}

.shop-sidebar button {
  padding: 10px;
  font-size: 14px;
  background-color: #4a7c59;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.shop-sidebar button:hover {
  background-color: #5a9c70;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.boss-sidebar {
  display: flex;
  flex-direction: column;
  width: 300px;
  background-color: #1a1d24;
  color: white;
  padding: 20px;
  gap: 10px;
  overflow-y: auto;
}

.boss-sidebar button {
  padding: 10px;
  font-size: 14px;
  background-color: #9b0929;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.boss-sidebar button:hover {
  background-color: #ca0b5a;
}

.boss-sidebar h2 {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header button {
  padding: 10px;
  font-size: 14px;
  background-color: #4a7c59;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  width: 150px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
